.navWrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #022554;
    padding: 0;
}

a {
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: medium;
}

.icon {
    font-size: x-large;
    margin-bottom: 10px;
}

.MenuLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}
