.Welcome {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.btnForward{
}
.btnForward:hover{
    color: black;
    border-radius: 100%;
}

.button {
    background-color: var(--lightBlue);
    color: white;
    margin: 50px 0 0 0;
}

.phone {
    display: flex;
    justify-content: center;
    padding: 50px 0 15px 0;
}