body {
    height: 100vh;
}
.titre {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.btnForward {
    width: 4rem;
    height: 4rem;
}
.btnForward:hover{
    color: black;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
}

.button {
    background-color: var(--lightBlue);
    color: white;
    margin: 3.125rem 0 0 0;
}

.phone {
    display: flex;
    justify-content: center;
    padding: 2.125rem 0 1rem 0;
    text-align: left;

}

.arrowbtnwrapper {
    padding: 1.25rem 0.625rem 0 0;
}

.caption {
    text-align: center;
}
