.wrapperHeader {
    /*background-color: green!important;*/
    width: 92%;
    height: 10rem;
    display: flex;
    align-items: center;
    margin: 4%;
    justify-content: space-around;
}

.buttonLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    margin: .5rem;
    border-radius: 2rem;
    border: none;
    color: white;
    background-color: var(--lightBlue);
}

.Box {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 86%;
    height: 7rem;
    box-shadow: 0 0 1px 0 black;
    border-radius: 1rem;
    margin: 1.5rem;
}
.circleWrapper {
    border: .3rem solid var(--lightBlue);
    border-radius: 100%;

}
.circle {
    width: 4.5rem;
    height: 4.5rem;
    padding: .6rem;
    border-radius: 100%;
    background-image: url("../../assets/images/photo_2023-11-03_02-04-44.jpg");
    background-size: cover;

}
.textMember {
    display: flex;
    flex-direction: column;

}
.textMember h2 {
    margin: 0 .3rem;
    font-size: 1.8rem;
}
.textMember span {
    padding: 0 .5rem;
    border-radius: .8rem;
}
.span1 {
    background-color: var(--lightBlue);
}
.span2 {
    background-color: red;
}
.span3 {
    background-color: yellow;
}
