.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.circleWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #0088FF;
}
.sliderWrapper {
    width: 100%;
}

.slider {
    width: 100%;
    height: 100%;

}

.sliderItem {
    width: 100%;
}

.sliderItem img {
    width: 100%;
    height: auto;

}

.buttonRight, .buttonLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    margin: .5rem;
    border-radius: 2rem;
    border: none;
    color: white;
}
.wrapperButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    margin-bottom: .5rem;
    font-size: 2rem;
}
.buttonLeft {
    background-color: var(--lightBlue);
}
.buttonRight {
    background-color: var(--darkBlue);
}