* {
    font-family: mainFont!important;
}

.title {
    color: #022554;
    text-align: center;
    font-weight: bold;
}

.caption {
    color: #757575;
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: center;
}

.box1 {
    width: 80%;
    background-color: #d7d7d7;
    border-radius: 15px;
    margin: 20px 0!important;
}

.boxes:checked {
    background-color: #0088FF!important;
}

.btn {
    background-color: #0088FF!important;
    color: white;
}

.btnWrapper {
    display: flex;
    justify-content: center;
}